.bgLgBlue {
    background-color: #e8f0f4d6;
  }
  .arrBox {
    border: 1px solid #e8f0f4;
    border-radius: 10px;
  }
  .dashboardBlue {
    background-color: #c3e1fead;
  }
  .spaceBoxL {
    margin: 10px 0px 5px 0px !important;
  }
  .spaceBoxR {
    margin: 10px 0px 5px 0px !important;
  }
  .mainTemp {
    font-size: 90px;
  }
  .mainTempLocation {
    font-size: 50px;
  }
  .weatherDescription {
    font-size: 50px;
    text-transform: capitalize;
  }
  .custom-margin-right-5px {
    margin-right: 5px;
  }
  
  .temp {
    font-weight: 700;
    font-size: 25px;
  }
  
  .weatherTitle {
    font-weight: 700;
    font-size: 25px;
  }
  
  .temperature {
    font-weight: 700;
    font-size: 22px;
  }
  .mainDiv {
    border-radius: 10px;
    margin: 10px 2px !important;
  }
  